
<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
    <div class="flex-grow-0" id="navbarSupportedContent">
        <ul class="navbar-nav text-right">
            <li class="nav-item active" *ngIf="loggedIn(); else showLogin">
                    <a class="nav-link" (click)="logout()">Logout</a>
            </li>
            <ng-template #showLogin><a class="nav-link" routerLink="/login">Login</a></ng-template>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>